.cards {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.card {
  flex: 0 1 400px;
  margin: 10px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
  flex-wrap: wrap;
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}

.card-desc {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-desc h2 {
  font-size: 20px;
  margin-bottom: 0px;
  font-weight: bold;
}
.card-desc p {
  font-size: 14px;
  font-weight: lighter;
  opacity: 0.9;
}

.card:hover {
  margin-top: -5px;
  opacity: 1;
}

.card-body {
  height: 180px;
  background-size: cover;
  color: white;
  position: relative;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}


.card-icons {
  display: flex;
  align-items: center;
}

.card-footer p {
  color: rgba(0,0,0,0.4);
  font-weight: lighter;
  font-size: 12px;
}
